<h1>Restaurants</h1>
<%= link_to "Register a new place", new_restaurant_path %>
<ul>
  <% @restaurants.each do |restaurant| %>
    <li><%= link_to restaurant.name, restaurant_path(restaurant) %> :
    <%= restaurant.category %></li>
  <% end %>
</ul>

